#!/bin/bash
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash -c "/home/u/Documents/LAN/log.sh"
Name=IITGlogin
Icon=/home/u//Documents/lan/IIT_Guwahati_Logo.svg
Comment=do this and that
